In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('C:/Users/ML/Desktop/122B1F052/titanic.csv')

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
data=df

In [15]:
df = data.drop(['Name', 'Ticket', 'Embarked','PassengerId','Cabin'], axis=1)

In [17]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  34.5      0      0   7.8292
1         1       3  female  47.0      1      0   7.0000
2         0       2    male  62.0      0      0   9.6875
3         0       3    male  27.0      0      0   8.6625
4         1       3  female  22.0      1      1  12.2875

In [19]:
y=df['Survived']

In [331]:
print(y)

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [333]:
data=df

In [335]:
df = data.drop(['Survived'], axis=1)

In [1]:
df.head()

NameError: name 'df' is not defined

In [339]:
df['Sex'].replace(['female', 'male'],
                        [0, 1], inplace=True)

C:\Users\ML\AppData\Local\Temp\ipykernel_11900\1465469876.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace(['female', 'male'],
C:\Users\ML\AppData\Local\Temp\ipykernel_11900\1465469876.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'].replace(['female', 'male'],

In [341]:
X_train,X_test,y_train,y_test=train_test_split(df,y,random_state=0)

In [343]:
X_train

     Pclass  Sex   Age  SibSp  Parch     Fare
208       1    0  33.0      0      0  27.7208
56        3    1  35.0      0      0   7.8958
8         3    0  18.0      0      0   7.2292
315       3    0  17.0      0      0   7.7333
155       3    1  24.0      0      0   7.5500
..      ...  ...   ...    ...    ...      ...
323       1    1  33.0      0      0  26.5500
192       3    1  11.5      1      1  14.5000
117       3    0   1.0      1      1  16.7000
47        3    1   NaN      0      0   7.7500
172       3    1  23.0      1      0  13.9000

[313 rows x 6 columns]

In [345]:
y_train

208    1
56     0
8      1
315    1
155    0
      ..
323    0
192    0
117    1
47     0
172    0
Name: Survived, Length: 313, dtype: int64

In [347]:
from sklearn.tree import DecisionTreeClassifier

In [349]:
model=DecisionTreeClassifier()

In [351]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [353]:
y_train_predicted=model.predict(X_train)

In [355]:
y_test_predicted=model.predict(X_test)

In [357]:
from sklearn.metrics import accuracy_score

In [359]:
accuracy_score(y_train,y_train_predicted)

1.0

In [361]:
accuracy_score(y_test,y_test_predicted)

1.0

In [364]:
from sklearn.metrics import confusion_matrix

In [370]:
confusion_matrix(y_train, y_train_predicted)

array([[208,   0],
       [  0, 105]], dtype=int64)